@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  width: 100%;
  font-family: Inter;
  display:flex;
  justify-content: center;
}
.parent{
  max-width: 140rem;
}
.flex_container {
  display: flex;
  position: fixed;
  top:0;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
  align-items: center;
  max-width: 140rem;
}

.pointer {
  cursor: pointer;
}

.sub_award {
  font-size: 3rem;
  width: 3rem 2rem;
}
.sub_three {
  display: flex;
  gap: 4rem;
  /* width: 40%; */
  flex-wrap: wrap;
  align-items: flex-end;
}

.sub_about {
  font-size: 1.8rem;
}
.sub_contact {
  font-size: 1.8rem;
}
.sub_compet {
  font-size: 2rem;

  font-weight: bold;
}

.sub_sign {
  font-size: 2.5rem;
  font-style: italic;
}

.parag_image_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000000;
  padding: 2rem;
  align-items: center;
  margin:10rem 0;
}

.paragraph {
  flex-basis: 50%;
  padding-left: 2rem;
}

.paragraph_title {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 3rem;
}

.paragraph_body {
  font-size: 1.5rem;
}

.see_more {
  text-decoration: underline;
  cursor: pointer;
  padding-top: 2rem;
  font-size: 1.6rem;
}

.img_edit {
  flex-basis: 50%;
}

a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.main_box {
  display: flex;
  padding: 4rem;
  background-color: rgba(58, 57, 57, 0.8);
  align-items: center;
  justify-content: center;
}
.sub_box {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  background-color: rgba(46, 46, 46, 0.2);
  background-image: url(./Assets/images/camera\ downlod.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  line-height: 2rem;
}

.form_left {
  flex: 1;
  flex-basis: 50%;
  padding: 5rem;
  border-right: 0.1rem solid #444141;
}

.title_form {
  padding-bottom: 1rem;
  font-size: 2rem;
  padding-top: 1.5rem;
}
input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(110, 107, 107) 0.1rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  width:100%;
  padding-bottom:1rem;
  color: #ffffff;
}

.input_name {
  width: 60%;
 
}

.input_email{
  width: 60%;
  padding-bottom: 1rem;
}
.input_phone {
  width: 58%;
  padding-bottom: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#input_address_one {
  width: 55%;
  padding-bottom: 1rem;
}
#input_address {
  width: 50%;
  padding-bottom: 1rem;
}

#city {
  background-color:transparent;
  color:  rgb(114, 113, 113);
  margin-top: 3rem;
  border: none;
  border-bottom: solid rgb(110, 107, 107) 0.1rem;
  font-size: 1.5rem;
  /* margin-bottom: 2rem; */
  margin-right: 2rem;
  padding-bottom: 1rem;
  width: 25%;
}
#state {
  background-color: transparent;
  color: rgb(114, 113, 113);
  border: none;
  border-bottom: solid rgb(110, 107, 107) 0.1rem;
  font-size: 1.5rem;
  width: 15%;
  padding-bottom: 1rem;
  
}

#contry {
  background-color: transparent;
  color: rgb(114, 113, 113);
  border: none;
  border-bottom: solid rgb(110, 107, 107) 0.1rem;
  font-size: 1.5rem;
  width: 25%;
  margin-right:2rem ;
  padding-bottom: 1rem;
}
#zipcode {
  border-bottom: solid rgb(110, 107, 107) 0.1rem;
  width: 20%;
  color: rgb(114, 113, 113);
  font-size: 1.5rem;
  width: 15%;
  padding-bottom: 1rem;
}


#radio {
  color: rgb(114, 113, 113);
  margin-top: 2.5rem;
  font-size: 1.5rem;
  /* width: 50%; */
  /* display: inline; */
}
#male{
  width:5%
  
}
#female{
  width:5%;
}

.form_right {
  flex: 1;
  flex-basis: 50%;
  color: rgb(114, 113, 113);
  padding: 5rem;
}

#description {
  background-color: transparent;
  border: solid #ffffff 0.1rem;
  border-color: rgb(90, 89, 89);
  padding-top: 1.5rem;
  border-radius: 1rem;
  resize: none;
  color: #ffffff;
  padding:1rem;
}
.descr_title {
  color: rgb(114, 113, 113);
  padding-bottom: 1rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
}
.select_category {
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(95, 93, 93) 0.1rem;
  color: rgb(97, 96, 96);
  margin-top: 5rem;
  font-size: 1.5rem;
  width: 55%;
  padding-bottom: 1rem;
}
#payment {
  padding-top: 3rem;
  color: #ffffff;
  font-size: 1.6rem;
  width: 55%;
  padding-bottom: 1rem;
}

#card_name {
  color: #ffffff;
  width: 55%;
  padding-bottom: 1rem;
}


#card {
  margin-bottom: 1rem;
  color: #ffffff;
  width: 55%;
  padding-bottom: 1rem;
}

#terms {
  color: rgb(106, 163, 201);
  font-size: 1.3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}
#agree{
  width:3%;
}
:checked {
  accent-color: #000000;
}
  


#submit {
  background-color: #008000;
  color: #ffffff;
  border: none;
  margin-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
  height: 4rem;
  cursor: pointer;
  padding-top: 0;
}
#cancel {
  background-color: #000000;
  color: #ffffff;
  border: solid #616060 0.1rem;
  border-radius: 2rem;
  margin-left: 2rem;
  text-align: center;
  font-size: 1.5rem;
  width: 30%;
  height: 4rem;
  cursor: pointer;
  padding-top:0;
}
#submit:hover {
  background-color: #18b86d;
}
#cancel:hover {
  background-color: #181616e1;
}
