@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  width: 100%;
  font-family: Inter;
}

.flex_container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 3rem;
  flex-wrap: wrap;
  align-items: center;
}
.pointer {
  cursor: pointer;
}

.sub_award {
  font-size: 3.3rem;
}
.sub_three {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  align-items: flex-end;
}

.sub_about {
  font-size: 1.8rem;
}
.sub_contact {
  font-size: 1.8rem;
}
.sub_compet {
  font-size: 2rem;
 
  font-weight: bold;
}

.sub_sign {
  font-size: 2.5rem;
  font-style: italic;
}

.parag_image_flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.paragraph {
  width: 50%;
  padding-top: 6rem;
  font-size: 1.7rem;
  padding-left: 2rem;
  /* line-height: 2.3rem; */
}

.paragraph_title {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 3rem;
  margin-top: 10rem;
}

.see_more{
  text-decoration: underline;
  cursor: pointer;
  padding-top: 2rem;
  font-size: 1.6rem;
}

.tree_image {
  margin-right: 2rem;
}

.img_edit {
  margin-top: 10rem;
}
a:link,
a:visited {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.main_box {
  display: flex;
  width: 100%;
  padding: 4rem;
  background-color: rgba(58, 57, 57, 0.8);
  min-height: 100vh;
  margin-top: 10rem;
  align-items: center;
}
.sub_box {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(46, 46, 46, 0.2);
  background-image: url(./Assets/images/camera\ downlod.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-content: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  align-items: center;
  line-height: 3rem;
}
  
.form_left {
  flex-grow: 2;
  min-height: 90vh;
  padding: 5rem;
  border-right: 0.1rem solid #444141;
  
}
.title_form {
 
  padding-bottom: 1rem;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  
}
input:focus {
  outline: none;
}
select:focus{
 outline: none;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(110, 107, 107) .1rem;
  padding-top: 3rem;
  font-size: 1.5rem;
}
input[type=text]{
  color: #ffffff;
  width: 50%;
}
input[type=email]{
  color: #ffffff;
  width: 50%;

}
input[type=number]{
  color: #ffffff;
  width: 50%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;

}

#city {
  background-color: transparent;
  color: rgb(110, 109, 109);
  margin-top: 3rem;
  border: none;
  border-bottom: solid rgb(110, 107, 107) .1rem;
  font-size: 1.5rem;
  width: 30%;
  
}
#state {
  background-color: transparent;
  color: rgb(114, 113, 113);
  border: none;
  border-bottom: solid rgb(110, 107, 107) .1rem;
  font-size: 1.5rem;
  width: 20%;
}

#contry {
  background-color: transparent;
  color: rgb(114, 113, 113);
  border: none;
  border-bottom: solid rgb(110, 107, 107) .1rem;
  font-size: 1.5rem;
  width: 30%;
 
}
#zipcode {
  border-bottom: solid rgb(110, 107, 107) .1rem;
  width: 20%;
  color: rgb(114, 113, 113);
  font-size: 1.5rem;
  width:20%;
 
}
  
#radio
{
  margin-left: 1rem;
  color: rgb(114, 113, 113);
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

/* #male {
  color: rgb(114, 113, 113);
  font-size: 1.5rem;
  
} */

.form_right{
  flex-grow: 1;
  color: rgb(114, 113, 113);
  margin: 0;
  padding:5rem;
  min-height: 90vh;
 
}

#description {
  background-color: transparent;
  border: solid #ffffff 0.1rem;
  border-color: rgb(90, 89, 89);
  padding-top: 1.5rem;
  border-radius: 1rem;
  resize: none;
  color: #ffffff;
}
.descr_title {
  color: rgb(114, 113, 113);
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  font-size: 1.8rem;
}
.select_category {
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(95, 93, 93) .1rem;
  color: rgb(97, 96, 96);
  padding-top: 2rem;
  font-size: 1.5rem;
  width: 50%;
}
#payment {
  padding-top: 1.5rem;
  color: #ffffff;
  font-size: 1.8rem;
  width: 50%;
}
#card_name{
  color: #ffffff;
  width: 50%;
}

#card {
  margin-bottom: 1rem;
  color: #ffffff;
  width: 50%;
}
#terms {
  color: rgb(106, 163, 201);
  font-size: 1.6rem;
}
:checked{ 
  accent-color:#000000;
  margin-top: 1.5rem;
}


#submit {
  background-color: #008000;
  color: #ffffff;
  border: none;
  margin-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.5rem;
  width: 15rem;
  height: 4rem;
  cursor: pointer;
  padding-top: 0;
}
#cancel {
  background-color: #000000;
  color: #ffffff;
  border: solid #616060 0.1rem;
  border-radius: 2rem;
  margin-left: 2rem;
  text-align: center;
  font-size: 1.5rem;
  width: 15rem;
  height: 4rem;
  cursor: pointer;
  padding-top: 0;
}
