body {
    color: white;
    background-color: black;
  }
  .flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    cursor:pointer
  }
 
  .sub_award {
    font-size: 25px;
    
  }
  /* .sub_three{
    display: flex;
    justify-content: space-between;
    } */

  .sub_about {
    font-size: 14px;
  }
  .sub_contact {
    font-size: 14px;
  }
  .sub_compet {
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
  }
  
  .sub_sign {
    font-size: 17px;
    font-style: italic;
  }
  /* .flex_container > div {
  } */
  .second_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    
  }
  .paragraph {
    width: 45%;
    
  }
  h1 {
    font-size: 25px;
    font-family: Arial;
  }
  .click{
    text-decoration: underline;
    cursor: pointer;
  }
  .pictue{
    width:50%;
    
  }
